ul, .grid__row, [class^=grid__col], .form, .nav, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul .nav, .grid__row .nav, [class^=grid__col] .nav, .form .nav, .nav .nav, .container .nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline--primary {
  font-size: 1.5em;
  color: #67dfbf;
  line-height: 1;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-left: 15px;
}

.headline--secondary {
  font-size: 0.875em;
  color: #8c8c8c;
  font-weight: 100;
  padding-top: 40px;
  padding-bottom: 15px;
}

.form .form__input {
  background: transparent;
  border: none;
  border-bottom: 5px solid #67dfbf;
  padding-bottom: 8px;
  width: 95%;
  margin: 0 auto;
}

.form .form__input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: bold;
  color: #8c8c8c;
  text-indent: 10px;
}

.form .form__input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: bold;
  color: #8c8c8c;
  text-indent: 10px;
}

.form .form__input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: bold;
  color: #8c8c8c;
  text-indent: 10px;
}

.form .form__input::placeholder {
  font-size: 12px;
  font-weight: bold;
  color: #8c8c8c;
  text-indent: 10px;
}

.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  border: none;
  font-weight: 400;
  font-size: 0.875em;
  margin: 2% 0;
  padding: 0.5em 0;
  border-radius: 4px;
  color: #fff;
}

.grid__col--1, .grid__col--2, .grid__col--3, .grid__col--4, .grid__col--5, .grid__col--6, .grid__col--7, .grid__col--8, .grid__col--9, .grid__col--10, .grid__col--11, .grid__col--12 {
  border: none;
  font-weight: 700;
  font-size: 0.875em;
  margin: 2% 0;
  text-indent: 10px;
  padding: 0.5em 0;
  border-radius: 4px;
  color: #8c8c8c;
  margin-top: 10px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

ul {
  list-style: none;
  font-weight: 300;
  text-align: center;
}

p {
  color: #8c8c8c;
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #8c8c8c;
}

@media (min-width: 768px) {
  .grid__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.grid__col {
  padding: 0;
}

@media (min-width: 768px) {
  .grid__col--1 {
    margin-top: 0;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
}

@media (min-width: 768px) {
  .grid__col--2 {
    margin-top: 0;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
}

@media (min-width: 768px) {
  .grid__col--3 {
    margin-top: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

@media (min-width: 768px) {
  .grid__col--4 {
    margin-top: 0;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
}

@media (min-width: 768px) {
  .grid__col--5 {
    margin-top: 0;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
}

@media (min-width: 768px) {
  .grid__col--6 {
    margin-top: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  .grid__col--7 {
    margin-top: 0;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
}

@media (min-width: 768px) {
  .grid__col--8 {
    margin-top: 0;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
}

@media (min-width: 768px) {
  .grid__col--9 {
    margin-top: 0;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (min-width: 768px) {
  .grid__col--10 {
    margin-top: 0;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
}

@media (min-width: 768px) {
  .grid__col--11 {
    margin-top: 0;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
}

@media (min-width: 768px) {
  .grid__col--12 {
    margin-top: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px;
  }
}

#grid ~ .grid__row .grid__col--3 {
  background-color: #dbb1ed;
}

#grid ~ .grid__row .grid__col--4 {
  background-color: #86e5fc;
}

#grid ~ .grid__row .grid__col--5 {
  background-color: #8dd79f;
}

#grid ~ .grid__row .grid__col--6 {
  background-color: #4ca9c8;
}

#grid ~ .grid__row .grid__col--7 {
  background-color: #e89ea2;
}

#grid ~ .grid__row .grid__col--8 {
  background-color: #f99e85;
}

#grid ~ .grid__row .grid__col--12 {
  background-color: #88e7d0;
}

.form .form__label--hidden {
  visibility: hidden;
}

.img--logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.img--avatar {
  width: 55%;
  margin: 0 auto;
  margin-top: 0.625em;
}

.img--frame {
  height: 8.125em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 10px solid #fff;
  outline: 1px solid #cfcfcf;
}

.btn--default {
  background-color: #61dcfb;
}

.btn--success {
  background-color: #6dca81;
}

.btn--error {
  background-color: #df757a;
}

.btn--warning {
  background-color: #f77858;
}

.btn--info {
  background-color: #8f7bbf;
}

.btn--default {
  margin-top: 1.25em;
}

.nav > li {
  padding: 10px;
}

.nav > li:hover {
  background-color: #67dfbf;
  border-radius: 5px;
}

.nav > li:hover a {
  color: #fff;
}

.container {
  margin: 0 1.4375em;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.link {
  color: #64ddfb;
  font-weight: 700;
}

.blockquote {
  font-size: 0.96875em;
  font-style: italic;
  font-weight: 100;
  color: #8c8c8c;
  border-left: 6px solid #67dfbf;
  padding-left: 0.625em;
  margin: 0 auto;
  margin-top: 1.25em;
  width: 85%;
}
/*# sourceMappingURL=styles.css.map */