// create mixins for media queries and felxbox settings

// flexbox settings
@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin flex-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}


// media queries

@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'small' );

    @if $value < $sm {
        @media(max-width: $value) {
            @content;
        }
    }
    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// UI colors

        //btn
@mixin bg-colors($map) {
    @each $theme, $color in $map {
            &--#{$theme} {
                background-color: $color;
                @extend %btn-styles;
            }
    }
}

        //grid_col--
@mixin grid-colors($map) {
    @each $col, $color in $map {
    
        &#{$col} {
            background-color: #{$color};
            }
    
 } 
}
