// meets expectations :
// create at least 1 var for font, breakpoints and colors

//fonts:
$font--Lato: 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet';
$font--Family-primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font--Family-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//font weight:
$font-weight-ultra-thin : 100;
$font-weight-thin       : 300;
$font-weight-regular    : 400;
$font-weight-bold       : 700;
$font-weight-black      : 900;


//colors:
$green-color : #67dfbf;
$accent-color: #64ddfb;
$white       : #fff; 

//font-colors:

$primary-font: #8c8c8c;

//btn-colors:

$btn-default: #61dcfb;
$btn-success: #6dca81;
$btn-error  : #df757a;
$btn-warning: #f77858;
$btn-info:    #8f7bbf;

$logo-font: #787d82;

$grid_col--3:  #dbb1ed;
$grid_col--4:  #86e5fc;
$grid_col--5:  #8dd79f;
$grid_col--6:  #4ca9c8;
$grid_col--7:  #e89ea2;
$grid_col--8:  #f99e85;
$grid_col--12: #88e7d0;

    $grid-color-map: (
        "--3": $grid_col--3, 
        "--4": $grid_col--4,
        "--5": $grid_col--5,
        "--6": $grid_col--6,
        "--7": $grid_col--7,
        "--8": $grid_col--8,
       "--12": $grid_col--12,
    );

//UI colors

    $ui-colors: (
        default: $btn-default,
        success: $btn-success,
        error:   $btn-error,
        warning: $btn-warning,
        info:    $btn-info,
    );

// text:

$base-font-size:   16px;
$base-line-height: 24px;

//breakpoints:

//breakpoints map
$breakpoints: (
    'small': 480px,
    'medium': 768px, 
    'large': 1400px,
);

