// meets expectations :
// create at least 1 var for font, breakpoints and colors

//fonts:
$primary-font: #8c8c8c;

//colors:
$green-color: #67e0bf;
$accent-color: #64ddfb;

$btn-default: #61dcfb;
$btn-success: #6dca81;
$btn-error: #df757a;
$btn-warning: #f77858;
$btn-info: #8f7bbf;

$logo-top-circle: $accent-color;
$logo-bottom-circle: $primary-color;
$logo-font: #787d82;

$grid_col--3: #dbb1ed;
$grid_col--4: #86e5fc;
$grid_col--5: #8dd79f;
$grid_col--6: #4ca9c8;
$grid_col--7: #e89ea2;
$grid_col--8: #f99e85;
$grid_col--12: #88e7d0;


//breakpoints:

//breakpoints map
$breakpoints: (
    's': 480px,
    'm': 768px,
    'l': 1400px,
);