// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


.grid {

  &__row {
    @include flex-col;

    @include mq('medium') {
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {
    padding: 0;

    @for $i from 1 through 12 {
     
      &--#{$i} {
      
        @extend %col-styles;
        @include mq('medium') {
        margin-top: 0;

        flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
} 

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
    @include flex-col;

  & + & {

    @include mq('medium') {
    margin-left: 10px;
      
    }
  }
}

 #grid ~ .grid__row .grid__col {
  @include grid-colors($grid-color-map);
  }

.card {
  margin-bottom: auto;
  @include mq('large'){
  margin-left: em(15px);
  }
}

.grid__col--12 {
  @include mq('medium'){
  flex-direction: row; 
  [class^=btn--] {
    width: 100%;
    margin: em(20px) em(10px);
  }
  }
}