
.img--logo {
   padding-top: 20px;
   padding-bottom: 20px;
   @extend %image-settings;
}

.img--avatar {
    @extend %image-settings;
    margin-top: em(10px);
}

.img--frame {
    @extend %image-settings;
    display: inline-flex;
    border: 10px solid #fff;
    outline: 1px solid #cfcfcf;
}