
.img--logo {
   padding-top: 20px;
   padding-bottom: 20px;
}

.img--avatar {
    width: 55%;
    margin: 0 auto;
    margin-top: em(10px);
}

.img--frame {
    height: em(130px);
    display: inline-flex;
    border: 10px solid #fff;
    outline: 1px solid #cfcfcf;
}