
.nav {
    @extend %flex-col;

    > li {
        padding: 10px;
        &:hover {
            background-color: $green-color;
            border-radius: 5px;
            a {
                color: $white;
            }
        }
        }
        
        @include mq ('medium') {
            @extend %flex-row;
        }
    
    }
