

ul {
    @include flex-col;
    list-style: none;
    text-align: center;
}

p {
    color: $primary-font;
    font-size: $base-font-size;
    line-height: ($base-line-height/$base-font-size);
}

a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: $primary-font;
}